html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
#canvas {
  position: absolute;
  width: 465px;
  height: 465px;
  background-repeat: no-repeat;
  background-image: url(./img/tenten.gif);
}
#hour1 {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 170px;
  left: 40px;
}
#hour2 {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 170px;
  left: 80px;
}
#minute1 {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 170px;
  left: 170px;
}
#minute2 {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 170px;
  left: 210px;
}
#second1 {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 170px;
  left: 300px;
}
#second2 {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 170px;
  left: 340px;
}
